{% set services = [
    {
        id: 'gcard-1-1',
        icon: 'fa-solid fa-user-check fa-4x color--primary',
        title: 'beaute_inee_index_service1_title',
        subtitle: 'beaute_inee_index_service1_subtitle',
        video_url: 'beaute_inee_index_service1_btn1_url',
        button_url: 'beaute_inee_index_service1_btn2_url',
        button_label: 'beaute_inee_index_service1_btn2_label'
    },
    {
        id: 'gcard-1-2',
        icon: 'fas fa-calendar-check fa-4x color--primary',
        title: 'beaute_inee_index_service2_title',
        subtitle: 'beaute_inee_index_service2_subtitle',
        video_url: 'beaute_inee_index_service2_btn1_url',
        button_url: 'beaute_inee_index_service2_btn2_url',
        button_label: 'beaute_inee_index_service2_btn2_label'
    },
    {
        id: 'gcard-1-3',
        icon: 'fas fa-face-smile fa-4x color--primary',
        title: 'beaute_inee_index_service3_title',
        subtitle: 'beaute_inee_index_service3_subtitle',
        video_url: null,
        button_url: 'beaute_inee_index_service3_btn_url',
        button_label: 'beaute_inee_index_service3_btn_label'
    }
] %}

<section id="services" class="py-8 cards-section division">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 col-lg-8">
                <div class="section-title text-center mb-6">
                    <h2 class="h2-title">
                        {{ l('beaute_inee_index_services_title') }}
                    </h2>
                    <p>
                        {{ l('beaute_inee_index_services_subtitle') }}
                    </p>
                </div>
            </div>
        </div>

        <div class="cards-row">
            <div class="row row-cols-1 row-cols-lg-3">
                {% for service in services %}
                    <div class="col">
                        <div id="{{ service.id }}" class="gift-card wow fadeInUp">
                            <i class="{{ service.icon }}"></i>
                            <h4 class="h4-md mt-3">
                                {{ l(service.title) }}
                            </h4>
                            <p class="service-subtitle">
                                {{ l(service.subtitle) }}
                            </p>

                            {% if service.video_url %}
                                <div class="service-buttons">
                                    <a href="{{ l(service.video_url) }}" class="btn btn--tra-gold hover--gold">
                                        <i class="fa fa-video-camera"></i>
                                    </a>
                                    <a href="{{ l(service.button_url) }}" class="btn btn--tra-black hover--black">
                                        {{ l(service.button_label) }}
                                    </a>
                                </div>
                            {% else %}
                                <a href="{{ l(service.button_url) }}" class="btn btn--tra-black hover--black">
                                    {{ l(service.button_label) }}
                                </a>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
