<div id="reviews-2" class="py-8 reviews-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 col-lg-8">
                <div class="section-title text-center mb-6">
                    <span class="section-id">{{ l('beaute_inee_index_testimonials_section_id') }}</span>
                    <h2 class="h2-title">{{ l('beaute_inee_index_testimonials_title') }}</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="owl-carousel owl-theme reviews-2-wrapper">
                    {% for testimonial in legacy_context('testimonials') %}
                        <div class="review-2">
                            <div class="review-txt">
                                <div class="star-rating ico-20 color--yellow clearfix">
                                    {% for i in 1..5 %}
                                        <span class="flaticon-star-{{ i <= testimonial.rating ? '1' : '-empty' }}"></span>
                                    {% endfor %}
                                </div>
                                <p>{{ testimonial.text_key is defined ? l(testimonial.text_key) : testimonial.text|default('') }}</p>
                                <div class="review-author">
                                    <p>{{ testimonial.author_key is defined ? l(testimonial.author_key) : testimonial.author|default('') }}</p>
                                    <span>{{ testimonial.role_key is defined ? l(testimonial.role_key) : testimonial.role|default('') }}</span>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
